<h1>
  {{title}}
</h1>
<form method="POST">
  <fieldset>
    <label for="department" class="col-2">
      Departments:
    </label>
    <input name="department" id="department" required />
  </fieldset>
  <fieldset>
    <label for="taskCode" class="col-2">
      Task Code:
    </label>
    <input name="taskCode" id="taskCode" required />
  </fieldset>
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>